<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta property='og:type' content='website' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta property='og:title'          content={title} />
    <meta property='og:description'    content={description} />
    <meta property='og:image'          content={image || ''} />
    <style is:global>
      body { margin: 0; font-family: sans-serif; }
    </style>
  </head>
  <body class='bg-gray-50 text-gray-900'>
    <slot />
  </body>
</html>
