<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Кухни и шкафы-купе на заказ в Уссурскe | Производство из МДФ и EGGER</title>
    <meta name='description' content='Изготовление куando кухонных гарнитуров и шкафов-купе на заказ в Уссурскe и Приморском крае. Собственное производство, премиальные материалы EGGER и МДФ. Бесплатный замер в радиусе 260 км!' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Кухни и шкафы-купе на заказ в Уссурскe' />
    <meta property='og:description' content='Изготовление кухонных гарнитуров и шкафов-купе на заказ в Уссурскe и Приморском крае.' />
    <meta property='og:image' content='' />
    <link rel='stylesheet' href='/src/styles/global.css' />
  </head>
  <body class='bg-gray-50 text-gray-900 font-sans'>
    <slot />
  </body>
</html>
